* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .google-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.google {
    width: 500px;
    height: 500px;
    padding: 10px;
}

.google img {
    width: 80%;
}

.input-div input {
    width: 500px;
    height: 48px;
    border-radius: 50px;
    padding: 10px;
    outline: none;
}

.input-div img {
    width: 30px;
    height: 30px;
} */


div img {
    width: 25%;
    margin-top: 120px;
}

.search-input {
    width: 600px;
    height: 45px;
    outline: 0;
    border-radius: 50px;
    padding: 15px;
    padding-left: 42px;
    border: 1px solid #d2d2d2;
}

.search-input:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-icon {
    width: 30px;
    position: relative;
    top: -47px;
    left: 40px;
}

.mic-icon {
    width: 30px;
    position: relative;
    top: -47px;
    right: 70px; 
}

.image-icon {
    width: 35px;
    position: relative;
    top: -47px;
    right: 75px; 
}

.btn-google {
    width: 150px;
    height: 48px;
    border: 0;
    outline: 0;
    font-size: 14px;
    border: 1px solid rgba(99, 99, 99, 0.2);
}

.btn-google:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
