*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-color {
    /* background-color: #e94560; */
    background-image: url(/Assets/images/Behold\ the\ upside\ down!\ -\ Yanko\ Design.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.watch-text h1{
    font-size: 100px;
}

.stop-watch h1 {
    font-size: 100px;
    color: yellow;
}

.stop-watch {
    width: 1000px;
    height: 500px;
    border-radius: 300px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    padding-top: 80px;
}

.mx-6 {
    margin-left: 220px;
}

.watch-text h1 {
    word-spacing: 20px;
    color: #ffffff;
}

.gap-6 {
    gap: 100px;
}

.stop-watch-btn button {
    width: 120px;
    height: 56px;
    border-radius: 30px;
    border: none;
    background-color: #ffffff;
}

.btn1 {
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.btn1:hover {
    background-color: green;
    transition: .5s ease;
    box-shadow: none;
}

.btn2 {
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.btn2:hover {
    background-color: red;
    transition: .5s ease;
    box-shadow: none;
}

.btn3 {
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.btn3:hover {
    background-color: seagreen;
    transition: .5s ease;
    box-shadow: none;
}