* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-box {
    margin: 0 auto;
    margin-top: 50px;
}

#input-box {
    width: 400px;
    /* height: 290px; */
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
}

.input-box input {
    width: 350px;
    height: 42px;
    outline: none;
    /* border: none; */
    padding: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

::placeholder {
    color: #fff;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url(../Images/cover.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-now {
    width: 100px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

#head {
    color: yellow;
}

.font-change {
    font-size: 50px;
}

.head-saylani {
    color: rgb(5, 234, 5);
    text-shadow: 2px 2px 5px black;
}

.head-para {
    text-shadow: 2px 2px 5px #000;
}

a {
    text-align: center;
}