* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #f9ece6;
    --pink: #e83e8c;
    --pink-light: #f89cab;
    --red: #dc3545;
    --card : #eeeeee;
    --saveing : #7fd7eb;
    --savebtn : #109dbd;
    --giftsection : #6929a5;
    --giftBtn : #9242dd;
}

body a {
    color: #000;
    text-decoration: none;
}

.container-fixed {
    max-width: 1400px;
    margin: 0px auto;
    /* padding: 0px 40px; */
}

.section-navbar {
    width: 100%;
    height: 60px;
    background-color: var(--light);
}

.header-section {
    width: 100%;
    height: 500%;
    background-color: var(--pink-light);
}

.text {
    font-size: 65px;
    font-weight: bold;
    color: #fff;
}

.text2 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.text-two {
    font-size: 18px;
    font-weight: 400;
}

.header-section div>button {
    width: 150px;
    height: 48px;
    color: #fff;
    background-color: var(--pink);
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-top: 30px;
}

.hidden-icon i {
    font-size: 30px;
}

.card-box {
    width: 300px;
    height: 330px;
    background-color: var(--card);
}

.card-box img {
    width: 100px;
}

.newIcon {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color:var(--red);
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.newTag {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
}

.priceTag {
    position: relative;
    top: 100px;
}

.price {
    color: var(--pink);
}

.AddBtn {
    position: relative;
    top: -50px;
}

.price-card h5{
    margin-top: 10px;
}

.checkOutbtn button {
    width: 180px;
    height: 46px;
    border-radius: 5px;
    background-color: var(--pink);
    border: 0;
    outline: 0;
    color: #fff;
}

/* SAVEING SECTION CSS */

.saving-section {
    width: 100%;
    height: 100%;
    background-color: var(--saveing);
}

.buyBtn {
    width: 150px;
    height: 48px;
    background-color: var(--savebtn);
    color: #fff;
    border: none;
    outline: none;
    transition-duration: .5s ease;
}

.buyBtn:hover {
    background-color: transparent;
    border: 1px solid var(--savebtn);
    color: var(--savebtn);
    transition: .5s ease;

}

.buyBtn2 {
    width: 150px;
    height: 48px;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
}

.buyBtn2:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .5s ease;
}

.saving-img img {
    width: 100%;
}

/* SHOP WITH US SECTION CSS */

.shopWithUs {
    width: 350px;
    height: 220px;
    border-radius: 5px;
    background-color: var(--card);
}

/* GIFT SECTION CSS */

.giftSection {
    width: 100%;
    height: 500%;
    background-color: var(--giftsection);
}

.giftBtn {
    width: 150px;
    height: 48px;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--giftBtn);
}

.giftBtn:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .5s ease;
}

.giftBtn2 {
    width: 150px;
    height: 48px;
    border: none;
    outline: none;
    color: #000;
    background-color: #fff;
}

.giftBtn2:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    transition: .5s ease;
}

.giftImg img {
    width: 100%;
}











@media only screen and (max-width: 500px) {
    .card-box {
        width: 170px;
        height: 330px;
        background-color: var(--card);
    }
}